<ngx-widget-grid
  [rows]="4"
  [columns]="5"
  [highlightNextPosition]="false"
  [showGrid]="true"
  (widgetPositionChange)="onWidgetChange($event)">
  <ngx-widget
    *ngFor="let widget of widgets;let $index = index;"
    [position]="widget"
    [movable]="true"
    [resizable]="true">
    <div style="height:100%;width:100%; display:flex;">
      <div style="height:100%;width:100%; padding:10px; background-color: rgb(248, 140, 140);">
        {{widget.text}}
      </div>
    </div>
  </ngx-widget>
</ngx-widget-grid>