.grid-stack-item {
  background: rgb(248, 140, 140);
  -webkit-box-shadow:inset 0px 0px 0px 1px #000;
  -moz-box-shadow:inset 0px 0px 0px 1px #000;
  box-shadow:inset 0px 0px 0px 1px #000;
}
.grid-stack-item:nth-child(even) {background: #969696}
